
body {
	background-color: black;
}


h1 {
	font-family: Calibri, Times New Roman, Sans-serif;
	font-size: 2.0em;
	color: purple;
}


h2 {
	font-family: Calibri, Times New Roman, Sans-serif;
	font-size: 2.0em;
	color: yellow;
}


p label {
	color: white;
}

legend {
	color: white;
}

input:optional {
	background-color:grey;
}	

select:optional {
	background-color:grey;
}

textarea:optional {
		background-color:grey;
}

/*Week3 - Descendant Assignment*/

h1 b {color:orange;}

p label b {color:yellow;}


/*Week 3 - Child selector Assignment */

p> label> input {color:red;}

p> label> textarea {color:orange;}


/*Week 3 - Sibling selector Assignment */

h1 ~ p {color:white;}

 

/*Week 3 - Adjacent Sibling selector Assignment */


h2 + p {font-style:italic;}

/* commenting out smartphone for Week3
*,
*:before,
*:after {
	box-sizing: border-box;
}

form {
	border: 2px solid #c6c7cc;
	border-radius: 5px;
	font: 14px/1.4 "Helvetica Neue", Helvetica,Arial,sans-serif;
	overflow: hidden;
	width: 400px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
}

input {
	background: #fff;
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0,0,0, .1);
	padding: 6px;
	margin-top: 6px;
	width: 100%;
}

button {
	background: linear-gradient(#49708f, #293f50);
	border: 2;
	cursor: pointer;
	font-weight: bold;
	float: left;
	padding: 8px 16px;
}
/*
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	